{% extends 'homebase.html.twig' %}

{% block title %}User Login{% endblock %}

{% block body %}
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Blog</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="blog_left_sidebar">
                        <div class="blog_details">

                        </div>
                    </div>
                </div>

                <div class="col-lg-9 mb-5 mb-lg-0">
                    <div class="blog_right_sidebar">
                        <article class="blog_item">
                            <div class="blog_details">
    <h3>Login Panel</h3>
<hr><br>
                                <form method="post" action="/login">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                     {% else %}
                                        Not Login in
                                    {% endif %}

                                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                                    <label for="inputEmail">Email</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                                    <label for="inputPassword">Password</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >

                                    {#
                                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                        See https://symfony.com/doc/current/security/remember_me.html

                                        <div class="checkbox mb-3">
                                            <label>
                                                <input type="checkbox" name="_remember_me"> Remember me
                                            </label>
                                        </div>
                                    #}

                                    <button class="btn btn-lg btn-primary" type="submit">
                                        Sign in
                                    </button>
                                </form>
    </div>
    </article>
    </div>
    </div>


    </div>
    </div>
    </section>

{% endblock %}
