{% extends 'homebase.html.twig' %}

{% block title %}{{ product.title }} {% endblock %}
{% block keywords %}{{ product.keywords }} {% endblock %}
{% block descripton %}{{ product.descripton }} {% endblock %}


{% block body %}
    <h1>Product index</h1>
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Advert Detail</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="blog_left_sidebar">
                        <div class="blog_details">
                            <div class="section-top-border">
                                <h3>Image Gallery</h3>
                                <div class="row gallery-item">
                                    <div class="col-md-6">
                                        <a href="{{ asset('uploads/images/' ~ product.image) }}" class="img-pop-up">
                                            <div class="single-gallery-image" style="background: url({{ asset('uploads/images/' ~ product.image) }});"></div>
                                        </a>
                                    </div>

                                    {% for rs in images %}
                                        <div class="col-md-6">
                                            <a href="{{ asset('uploads/images/' ~ rs.image) }}" class="img-pop-up">
                                                <div class="single-gallery-image" style="background: url({{ asset('uploads/images/' ~ rs.image) }});"></div>
                                            </a>
                                        </div>
                                    {% endfor %}



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="blog_right_sidebar">
                        <article class="blog_item">
                            <div class="blog_details">
                                <h4>Advert</h4>
                                <div class="comments-area">

                                    <div class="comment-list">
                                        <div class="single-comment justify-content-between d-flex">
                                            <div class="user justify-content-between d-flex">
                                                <div class="thumb">
                                                    <img src="img/comment/comment_1.png" alt="">
                                                </div>
                                                <div class="desc">
                                                    <h1>Advert</h1>

                                                    <table class="table">
                                                        <tbody>

                                                        <tr>
                                                            <th>Title</th>
                                                            <td>{{ product.title }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Type</th>
                                                            <td>{{ product.type }}</td>
                                                        </tr>

                                                        <tr>
                                                            <th>Summary</th>
                                                            <td>{{ product.summary }}</td>
                                                        </tr>


                                                        <tr>
                                                            <th>Adres</th>
                                                            <td>{{ product.adres }}</td>
                                                        </tr>

                                                        <tr>
                                                            <th>City</th>
                                                            <td>{{ product.city }} / {{ product.country }}</td>
                                                        </tr>

                                                        <tr>
                                                            <th>Description</th>
                                                            <td>{{ product.description }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Sponsor</th>
                                                            <td>{{ product.sponsor }}</td>
                                                        </tr>

                                                        </tbody>
                                                    </table>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
                <div class="section-top-border">
                    <h3 class="mb-30">Detail</h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <blockquote class="generic-blockquote">
                                {{ product.detail | raw }}
                            </blockquote>
                        </div>
                    </div>
                </div>

            </div>
            <div class="comments-area">

                {% for rs in comments %}
                    <h4>{{ rs.subject }} [Rate : {{ rs.rate }}]</h4>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="{{ asset('assets') }}/img/comment/comment_2.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        {{ rs.comment }}
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">Emilly Blunt</a>
                                            </h5>
                                            <p class="date">December 4, 2017 at 3:12 pm </p>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if app.user %}
                <div class="col-12">
                    <h2 class="contact-title">Write your comment</h2>
                </div>
                <div class="col-lg-6">
                    {{ include('messages.html.twig') }}

                    <form name="comment" role="form" action="{{ path('user_new_comment', {'id': product.id}) }}" class="form-contact contact_form"  method="post"  >
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="comment[comment]" id="comment_comment" maxlength="255" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder=" Name"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <select class="form-control" name="comment[rate]" id="comment_rate">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

         
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="comment[subject]" id="comment_supject" maxlength="75" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="hidden" name="token" value="{{csrf_token('comment') }}">
                            <button type="submit" class="button button-contactForm boxed-btn">Send Comment</button>
                        </div>
                    </form>
            </div>
                {% else %}
                <li>
                    <a href="/loginuser"><i class="icon-envelope-alt"></i> If you want to add comment please login </a>
                </li>
                {% endif %}
        </div>
        </div>
    </section>
{% endblock %}
