{% extends 'adminbase.html.twig' %}

{% block title %}Hello adminController!{% endblock %}

{% block body %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i>Comment index</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <h1>Comment index</h1>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Subject</th>
                            <th>Comment</th>
                            <th>Status</th>
                            <th>Ip</th>
                            <th>User</th>
                            <th>Advert</th>
                            <th>Updated_at</th>
                            <th>Rate</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.id }}</td>
                                <td>{{ comment.subject }}</td>
                                <td>{{ comment.comment }}</td>
                                <td>{{ comment.status }}</td>
                                <td>{{ comment.ip }}</td>
                                <td><a href="{{ path('admin_user_show', {'id': comment.id}) }}"> {{ comment.name }} {{ comment.surname }}</a> </td>
                                <td><a href="{{ path('admin_product_show', {'id': comment.id}) }}"> {{ comment.title }}</a> </td>
                                <td>{{ comment.created_at }}</td>
                                <td>{{ comment.rate }}</td>
                                <td>
                                    <a class="btn btn-success" href="{{ path('admin_comment_show', {'id': comment.id}) }}">show</a>
                                    <a class="btn btn-info" href="{{ path('admin_comment_edit', {'id': comment.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </section>
        <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
{% endblock %}
