{% extends 'adminbase.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Blank Page</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <h1>Product</h1>

                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ product.id }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ product.title }}</td>
                        </tr>
                        <tr>
                            <th>Keywords</th>
                            <td>{{ product.keywords }}</td>
                        </tr>
                        <tr>
                            <th>Summary</th>
                            <td>{{ product.summary }}</td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td><img src=" {{ asset('upload/images/' ~ product.image) }}" height="100"></td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{ product.type }}</td>
                        </tr>
                        <tr>
                            <th>Adres</th>
                            <td>{{ product.adres }}</td>
                        </tr>
                        <tr>
                            <th>Sponsor</th>
                            <td>{{ product.sponsor }}</td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>{{ product.city }}</td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>{{ product.country }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ product.status }}</td>
                        </tr>
                        <tr>
                            <th>Created_at</th>
                            <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Updated_at</th>
                            <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ product.description }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <a href="{{ path('admin_product_index') }}">back to list</a>

                    <a href="{{ path('admin_product_edit', {'id': product.id}) }}">edit</a>

                    {{ include('admin/product/_delete_form.html.twig') }}
                </div>
            </div>
        </section>
        <!-- /wrapper -->
    </section>
{% endblock %}
