{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Profile{% endblock %}

{% block body %}
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Blog</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="blog_left_sidebar">
                        <div class="blog_details">
                        {{ include('user/usermenu.html.twig') }}
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 mb-5 mb-lg-0">
                    <div class="blog_right_sidebar">
                        <article class="blog_item">
                            <div class="blog_details">
                                <h3>User</h3>
<Hr><br>
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ app.user.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ app.user.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Roles</th>
                                        <td>{{ app.user.roles ? app.user.roles|json_encode : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Password</th>
                                        <td>{{ app.user.password }}</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{ app.user.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Surname</th>
                                        <td>{{ app.user.surname }}</td>
                                    </tr>
                                    <tr>
                                        <th>Image</th>
                                        <td>{{ app.user.image }}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>{{ app.user.status }}</td>
                                    </tr>
                                    <tr>
                                        <th>Created_at</th>
                                        <td>{{ app.user.createdAt ? app.user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated_at</th>
                                        <td>{{ app.user.updatedAt ? app.user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                    </tr>
                                    </tbody>
                                </table>



                                <a href="{{ path('user_edit', {'id': app.user.id}) }}">Edit Profile</a>
                            </div>
                        </article>
                    </div>
                </div>


            </div>
        </div>
    </section>

{% endblock %}
